@media screen and (min-width: 769px) and (max-width: 1280px) {
  .vegetables .box-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
  }
  .vegetables .box-container .box {
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 40px;
    padding: 32px;
    gap: 10px;
    min-height: 379px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    margin: 0 auto;
  }
  .vegetables .vegetables-text {
    max-width: 626px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25em;
    text-align: left;
    color: #fbfbfb;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }

}
